#header{
    background-color: #01012b;
    padding: 24px;
    display: flex;
    justify-content: center;
    color: #05d9e8;
    text-shadow: 6px 3px #005678;
    font-size: 80px;
    font-weight: bold;
    font-family: "iceland", cursive;
}

#sub-title{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.lead{
    font-size: 32px;
    font-weight: bold;
}
.standard{
    font-size: 24px;
}

#round{
    padding: 48px;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-content: center;
    gap: 64px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.load{
    margin-bottom: 16px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;

}

#moves{
    display: flex;
    gap: 54px;
    justify-content: center;
    justify-self: flex-end;
}

.interior{
    width: 100%;
}

button{
    padding: 16px;
    background: linear-gradient(-45deg, #284768, #e73c7e, #23a6d5, #7925adf6, #1c1facf6);
    background-size: 300% 200%;
    animation: gradient 10s ease infinite;
    border: 8px black solid;
    border-radius: 15%;
    width: 150px;
    cursor: pointer;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    position: relative;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button:hover{
    /* consider changing border color */
    border: 2px solid #23a6d5;
    border-radius: 20%;
    transition-duration: .15s;
}

  
button:after{
    content: "";
    display: flex;
    position: absolute;
    border-radius: 20%;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    opacity: 0%;
    transition: all .4s;
    box-shadow: 0 0 8px 16px white;
}

button:active:after{
    display: flex;
    position: inline;
    border-radius: 20%;
    left: 0;
    top:0;
    box-shadow: 0 0 0 0 white;
    opacity: 1;
    transition: 0s;
}



body{
    margin: 0px;
    background-color: #19193fdc;
    font-family: OCR A Std, monospace;
    color: #d1f7ff;
    font-size: 24px;
    text-align: center; 
    /* support footer when window is resized */
    margin-bottom: 50px; 
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}


#footer{
    background-color: #01012b;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* micheal osman footer */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

/* support footer when window is resized */
html{
    position: relative;
    min-height: 100%;
}

a{
    text-decoration: none;
    font-size: 16px;
    color: #d1f7ff;
}

