#header{
    background-color: #01012b;
    padding: 24px;
    display: flex;
    justify-content: center;
    color: #05d9e8;
    text-shadow: 6px 3px #005678;
    font-size: 80px;
    font-weight: bold;
    font-family: "iceland", cursive;
}

#sub-title{
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}




.lead{
    font-size: 32px;
    font-weight: bold;
}
.standard{
    font-size: 24px;
}

#round{
    padding: 48px;
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-content: center;
    gap: 64px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.load{
    margin-bottom: 16px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;

}

#moves{
    display: flex;
    gap: 54px;
    justify-content: center;
    justify-self: flex-end;
}

.interior{
    width: 100%;
}

button{
    padding: 16px;
    background: linear-gradient(-45deg, #284768, #e73c7e, #23a6d5, #7925adf6, #1c1facf6);
    background-size: 300% 200%;
    animation: gradient 10s ease infinite;
    border: 8px black solid;
    border-radius: 15%;
    width: 150px;
    cursor: pointer;
    transition-duration: .4s;
    -webkit-transition-duration: .4s;
    position: relative;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

button:hover{
    /* consider changing border color */
    border: 4px solid;
    border-radius: 20%;
    transition-duration: .15s;
}

/*   
button:after{
    content: "";
    display: flex;
    position: absolute;
    border-radius: 20%;
    left: 0;
    top: 0;
    width: 150px;
    height: 150px;
    opacity: 0%;
    transition: all .4s;
    box-shadow: 0 0 8px 16px white;
} */

/* button:active:after{
    display: flex;
    position: inline;
    border-radius: 20%;
    left: 0;
    top:0;
    box-shadow: 0 0 0 0 #05d9e8;
    opacity: 1;
    transition: 0s;
} */



body{
    margin: 0px;
    background-color: #19193fdc;
    font-family: OCR A Std, monospace;
    color: #d1f7ff;
    font-size: 24px;
    text-align: center; 
    /* support footer when window is resized */
    margin-bottom: 50px; 
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
}
button:active{
    /* play around with ux*/
    border-radius: 50%;
    border-color: #01012b;
}


#footer{
    background-color: #01012b;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* micheal osman footer */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

#modal{
    display: none;
    padding: 24px;
    background-color: #01012b;
    opacity: 95%;
    background-blend-mode: inherit;
    /* display: none;  */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal-container{
    background: #005678;
    margin: 20% auto;
    width: 30%;
    border-radius: 4%;
    border: 4px solid #05d9e8;
    align-self: ce;
    padding: 16px;
}

.info{
    padding: 8px;
}
#replay{
    padding: 3px;
    color: #d1f7ff;
    font-family: "iceland", 'cursive';
    font-size: 24px;
    font-weight: 600;
    border-width: 4px;
    border-radius: 20%;
}
#replay:hover{
    border-radius: 25%;
    border-width: 4px;
    border-style: outset;
}

#replay:active{
    /* play around with ux*/
    border-color: #05d9e8;
    border-style: outset;
    border-radius: 50%;
}

/* support footer when window is resized */
html{
    position: relative;
    min-height: 100%;
}


a{
    text-decoration: none;
    font-size: 16px;
    color: #d1f7ff;
}

